<div class="container">
    <label for="AddTask">Task</label>
    <input type="text" class="form-control" placeholder="Enter task.." #task><br>
    <label for="AddDate">Date</label><br>
    <input type="date" #dueDate> 
    <button type="button" class="btn btn-light"  (click)="addTask(task, dueDate)">Add</button><br><br>


    <table class="table">
        <thead class="thead-light">
          <tr>
            <th scope="col">Task</th>
            <th scope="col">Date</th>
            <th scope="col">Edit</th>
          </tr>
        </thead>
        <tbody>
            <tr *ngFor="let i of taskService.getTasks()">

                <td>
                {{ i.task }}
                </td>
                <td>
                {{ i.dueDate }}
                </td>
                <td><button type="button" class="btn btn-light" (click)="taskDetails(i.id, i.task, i.dueDate)">Edit</button></td>
            
            </tr>
        </tbody>
      </table>

        
</div>